name: Publish to PyPI

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  tag_name: ${{ github.event.release.tag_name || github.ref_name }}
  artifact-name: flagsmith-common-${{ github.event.release.tag_name || github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Build Package
        run: uv build

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ env.artifact-name }}
          path: dist/

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.tag_name }}
          files: dist/*

  publish:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write # for pypa/gh-action-pypi-publish to authenticate with PyPI

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: ${{ env.artifact-name }}
          path: dist/

      - uses: pypa/gh-action-pypi-publish@release/v1
