name: Python Checks and Unit Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    strategy:
      max-parallel: 2
      matrix:
        python-version: ["3.11", "3.12"]

    services:
      default-database:
        image: postgres:15.5-alpine
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports: ["6543:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      task-processor-database:
        image: postgres:15.5-alpine
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports: ["6544:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Check for missing migrations
        env:
          opts: --no-input --dry-run --check
        run: make django-make-migrations

      - name: Check for new typing errors
        run: make typecheck

      - name: Run Tests
        env:
          DOTENV_OVERRIDE_FILE: .env-ci
        run: make test

      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        env:
          PYTHON: ${{ matrix.python-version }}
        with:
          use_oidc: true
          env_vars: PYTHON
