name: Python Checks and Unit Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    strategy:
      max-parallel: 2
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Check for missing migrations
        env:
          opts: --no-input --dry-run --check
        run: make docker-up django-make-migrations

      - name: Check for new typing errors
        run: make typecheck

      - name: Run Tests
        env:
          DOTENV_OVERRIDE_FILE: .env-ci
        run: make test

      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        env:
          PYTHON: ${{ matrix.python-version }}
        with:
          use_oidc: true
          env_vars: PYTHON
